[submodule "IXWebSocket"]
	path = IXWebSocket
	url = https://github.com/machinezone/IXWebSocket/
[submodule "Poco"]
	path = Poco
	url = https://github.com/pocoproject/poco
[submodule "TriangleManipulator"]
	path = TriangleManipulator
	url = https://github.com/FreezePhoenix/TriangleManipulator
[submodule "lib/spdlog"]
	path = lib/spdlog
	url = https://github.com/gabime/spdlog
