[submodule "IXWebSocket"]
	path = IXWebSocket
	url = https://github.com/machinezone/IXWebSocket/
[submodule "Poco"]
	path = Poco
	url = https://github.com/pocoproject/poco
[submodule "TriangleManipulator"]
	path = TriangleManipulator
	url = https://github.com/FreezePhoenix/TriangleManipulator
[submodule "fmt"]
	path = fmt
	url = https://github.com/fmtlib/fmt
