# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.la
*.a
*.lib

# Executables
*.out
*.app
albot-cpp
Makefile

# secrets
**/.env
**/out
**/CMakeCache.txt
**/CMakeFiles/
**/.settings
**.vs
**/build/
**/bot.json
**/data.json
**/bot.out.json
**/cmake_install.cmake
**/GAME_VERSION
**/Makefile
**/*.ninja*
**/.vscode
**/.cmake
**/Maps
CMakeSettings.json
**/compile_commands.json
